<% if flash[:error] %>
    <div id="error_explanation"><h2><%= flash[:error] %></h2></div>
<% end %>
<p id="notice"><%= notice %></p>
<% if flash[:alert] %>
    <div id="error_explanation"><h2><%= flash[:alert] %></h2></div>
<% end %>

