<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Отсутствует отчет</h1>
  Дата: <%= Time.now.strftime("%Y-%m-%d") %><br>
  Объект: <a href=http://base.apella-rus.ru/workobjects/<%=@wo.id%>><%=@wo.fulladdr%></a>
</body>
</html>
