<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Задача - Выполнена</h1>
<%= @task.staff_to.fullname%> выполнил задачу - <a href=http://base.apella-rus.ru/tasks/<%=@task.id%>><%=@task.description%></a>
</body>
</html>
