<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Новая задача</h1>
<%= @staff_from.fullname%> назначил вам новую задачу - <a href=http://base.apella-rus.ru/tasks/<%=@task.id%>><%=@task.description%></a>
</body>
</html>
