<div class="row">
  <div class="large-6 columns">
   <fieldset>
    <legend><h4>Редактирование записи</h4></legend>

<%= render 'form' %>
</fieldset>
  </div>
</div>

<%= link_to 'Show', @paymentcash %> |
<%= link_to 'Back', paymentcashes_path %>
